/* @font-face 
{
    font-family: 'BasicLettering'; 
    src: url('Basicletteringfree.otf') format('truetype') 
         url('Basicletteringfree.ttf') format('opentype'); 
         
} */

body
{
    display: flex;
    flex-direction:column;
    background-color: rgb(224, 224, 224);
    margin: 0%;
}

h1, h2, h3, h4 {
    font-family: 'BasicLettering', sans-serif; 
}

#Logo
{
    
}
#location
{
   
}

#webname
{
    
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 5px;
    background-color: rgb(224, 224, 224);
}

#VanligArticle
{

}

#Bildvanlig
{
    margin: 10px;
    width: 90%;
}


#TextVanlig
{

    text-align: center;
}

#VanligText
{
    padding-left: 20px;
    width: 95%;
    height: 120%;
}

#DeluxeArticle
{

    
}

#BildDelux
{
    margin: 10px;
    width: 90%;
}


#DeluxText
{
    padding-left: 20px;
    width: 95%;
    height: 120%;
}

#ContactList
{
    height: 100%;
    width: 100%;
}